#Intellj
/out/
/docs/

# User-specific stuff:
.idea/**/workspace.xml
.idea/codeStyleSettings.xml
.idea/dictionaries/**
.idea/misc.xml

# Windows crap
Thumbs.db
.idea/inspectionProfiles/

# Other
*.tmp